<%- include('./partials/nav') %>
    <main>

     <p>Aqui devearia ser id: <%= resultado %></p>
     <p>Aqui devearia ser id: <%=resultado.prato%></p>
     <p>Aqui devearia ser id: <%=resultado.caminhoImg%></p>
     <p>Aqui devearia ser id: <%=resultado.link%></p>
     <p>Aqui devearia ser id: <%=resultado.iframe%></p>
     
      
    </main>
    <%- include('./partials/footer') %>
